body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: "Roboto", sans-serif;
}

.clear-fix {
  overflow: auto;
}

.projects, 
.work,
.education {
  padding: 0 5%;
}

.project-entry, 
.work-entry,
.education-entry {
  margin-top: 10px;
  font-size: 20px;
}

h1 {
  font-size: 40px;
  color: #bf57a4;;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  border-bottom: 1px solid #88b1df;
  margin-bottom: 10px;
}

h3 {
  font-size: 20px;
  color: #000;
  line-height: 22px;
  margin-top: 20px;
}
/*
h4 {
font-weight: bold;
font-size: 14px;
color: pink;;
line-height: 17px;
}
 */

/*h2,
h3,*/
h4,
h5 {
  padding:10px 5%;

}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;

}

/* description text*/
p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

a {
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
  /*display: block;*/
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: purple;;
  line-height: 28px;
}

#skills-h3 {
  color: #d4e6b6;
  margin: 0;
}

.skills-list { 
  list-style-type: none;
}

.orange {
  background-color: #bf57a4;
}

.orange-text {
  color: #bf57a4;
}

.white-text {
  color: #fff;
}

.gray {
  background-color: #f3efed;;
  padding-bottom: 10px;
  clear:both;
}
/*
.dark-gray {
background-color: #f3efed;
}
 */

#header, #footer {
  background-color: #294e2f;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

img {
  padding: 10px;
}
.projectImage {
  height: 200px;
  width: 200px;
}
span {
  padding: 5px;
}

#lets-connect {
  text-align: center;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
}

.mapImage {
  height:200px;
  width:200px;
}

ul.majors { 
  list-style: none; 
  display: inline; 
  margin: 0; 
  padding: 0; 
}

ul.majors li { 
  display: inline; 
}

ul.majors li:after { 
  content: ", "; 
}

ul.majors li:last-child:after { 
  content: ""; 
}

#mapDiv {
  height: 400px;
  width: 80%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}
